.code-preview {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-preview-files {
    min-height: 30px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    border-bottom: 2px solid #333;
    display: inline-flex;
    overflow: auto;
    margin-bottom: 10px;
    justify-content: space-between;
}

.code-preview-file {
    height: 30px;
    padding: 0px 10px 0px 10px;
    margin-right: 15px;
    user-select: none;
    cursor: pointer;
    background-color: #2b2b2b;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.code-preview-files-list {
    display: inline-flex;
}

.code-preview-file:hover {
    background-color: #3c3c3c;
}

.selected-file {
    background-color: #007bff;
    color: white;
}

.selected-file:hover {
    background-color: #007bff;
    color: white;
}

.code-preview-code {
    background-color: #0B0A0A;
    color: #f8f8f2;
    height: 80vh;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(25, 147, 240, 0.9);
    padding: 5px 20px 20px 20px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
}

.code-preview-code-lines {
    flex-grow: 1;
    overflow-y: auto;
}

.code-preview-mode-select {
    max-height: 30px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    margin-top: 10px;
}

.code-preview-mode-active {
    background-color: green !important;
    color: white;
}

.code-preview-mode-select button {
    width: 48%;
    height: 100%;
    background-color: #2b2b2b; 
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    border-radius: 12px;
}

.code-preview-blocked {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Jost", sans-serif;
}

.code-preview-blocked i {
    font-size: 100px;
    color: #007bff;
}

.code-preview-blocked p {
    font-size: 25px;
}

.code-line {
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

.code-line:hover {
    background-color: #2b2b2b;
}

.breakpoint-button {
    height: 10px;
    width: 10px;
    background-color: rgb(40, 40, 40);
    border-radius: 50%;
    cursor: pointer;
}

.breakpoint-button:hover {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.active-breakpoint {
    background-color: red;
}

.active-breakpoint:hover {
    background-color: red;
}

.code-content {
    padding-left: 20px;
}

.line-number {
    width: 40px;
    color: #888;
    text-align: right;
    user-select: none;
}

.highlighted-line {
    background-color: #323843;
}

.line-arrow {
    height: 10px;
    width: 10px;
    color: green;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hljs-string {
    color: green !important;
}

.confirmation-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

}

.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

.confirmation-dialog p {
    margin-bottom: 16px;
}

.confirmation-dialog button {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-family: "Jost", sans-serif;
}

.editable-line {
    overflow-x: auto;
    height: auto;
}

.editable-code-content {
    height: auto;
    height: 20px;
    max-width: none;
    overflow-y: auto;
    color: white;
    background-color: #0B0A0A;
    width: 100%;
    border: none;
}

.code-edit-pending-changes {
    color: red;
    margin: 5px;
}

.code-edit-no-changes {
    color: green;
    margin: 5px;
}

.code-edit-save-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-family: "Jost", sans-serif;
}

.confirmation-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Make sure it appears above other elements */
}

.confirmation-dialog {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1001;
}

.confirmation-dialog p {
    margin: 0 0 15px 0;
    font-size: 16px;
    color: white;
}

.confirmation-dialog button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.confirmation-dialog button:hover {
    background-color: #0056b3;
}

.confirmation-dialog button:active {
    background-color: #003f7f;
}

.code-files-download {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.code-files-download:hover {
    background-color: #0056b3;
}

.code-files-download i {
    margin: 0;
}