.dbg-controls button {
    color: #F7F7FF;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-family: "Jost", sans-serif;
}

.dbg-run-btn {
    background-color: green;
}

.dbg-run-btn:hover {
    background-color: #2ba92b;
}

.dbg-stop-btn {
    background-color: #ff0033;
}

.dbg-stop-btn:hover {
    background-color: #cc0000;
}

.dbg-step-btn {
    background-color: #1993F0;
}

.dbg-step-btn:hover {
    background-color: #1476d2;
}

.dbg-step-back-btn {
    background-color: #1993F0;
}

.dbg-step-back-btn:hover {
    background-color: #1476d2;
}

.dbg-run-to-brk-btn {
    background-color: #1993F0;
}

.dbg-run-to-brk-btn:hover {
    background-color: #1476d2;
}

.gdb-register-pair {
    display: inline-flex;
    width: 100%;
}

.gdb-register {
    width: 50%;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.gdb-register-types {
    height: 30px;
    align-items: center;
}

.div-register-type-select-row {
    height: 30px;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
}

.gdb-register-type-select {
    margin-left: 10px;
    margin-right: 25px;
    padding: 5px;
    background-color: #333;
    border-radius: 4px;
    border: 2px solid #007bff;
    font-size: 14px;
    color: #fff;
    transition: background-color 0.2s, border-color 0.2s;
}

.gdb-register-type-select:hover {
    border-color: #0056b3;
    background-color: #090909;
}