.welcome-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #070707;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
}

.welcome-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Parisienne", cursive;
}

.welcome-quote {
    width: 100%;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.word-span {
    display: inline-block;
    margin-right: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.other-tab {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #070707;
    color: white;
    font-size: 24px;
}

.welcome-app {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-app-info {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 18px;
  color: #1e90ff;
}

.fade-in {
  animation: fadeInAnimation 1s;
}

.fade-out {
  animation: fadeOutAnimation 1s;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOutAnimation {
  from { opacity: 1; }
  to { opacity: 0; }
}
  

.welcome-loader {
    width: 90px;
    aspect-ratio: 1;
    color:#1e90ff;
    background:
     radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
     radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
     linear-gradient(to bottom left, currentColor 42%,#0000 43%) bottom left ,
     linear-gradient(to bottom right,currentColor 42%,#0000 43%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }
  .welcome-loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: l3 1s infinite;
  }
  @keyframes l3 {
    to {transform:scale(1.8);opacity:0}
  }

.welcome-account-form {
    width: 80%;
    max-width: 370px;
    color: #F7F7FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: "Jost", sans-serif;
}

.welcome-account-form form {
    display: flex;
    flex-direction: column;
}

.welcome-account-form label {
    font-size: 16px;
    margin-bottom: 8px;
}

.welcome-account-form button {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-family: "Jost", sans-serif;
}

.welcome-account-form button:hover {
    background-color: #1476d2;
}
